
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'Poppins',sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #04AA6D;
  
    --bg-primary: hsl(0, 0%, 3%);
    --bg-secondary: hsl(0, 0%, 19%);
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(0, 0%, 62%);
    --card-shadow: hsla(0, 0%, 0%, 0.4);
    --input-bg: hsl(0, 0%, 16%);
    --shadow-1: 10px 10px 40px var(--card-shadow)
--raw-seinna: hsl(0, 74%, 58%);
  --sizzling-sunrise: hsl(0, 95%, 54%);
  --scarlet: hsl(13, 69%, 14%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-saira-stencil-one: "Saira Stencil One", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto: "Roboto", sans-serif;

  --fs-1: 2rem;
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * radius
   */

  --radius-4: 4px;
  --radius-12: 12px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background : var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color : var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color : var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.nav-link.home {
    color : var(--main-color)
}

/* responsive div should be display none at normal desktop */

#myTopnav {
  display: none;
}


#menu-icon {
    font-size: 3.6rem;
    color:var(--text-color);
    display:none;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
}

.home-img1 img {
    width:35vw
}

.home-img{
  opacity: 70%;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
   
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
   
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background:transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

#btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

#btn:hover {
    box-shadow: none;
}

.about.section {
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--second-bg-color);
   
}

.about-img img {
    width: 30vw;
}

.about-img{
  opacity: 70%;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
   font-size: 2.6rem;
}

.about-content p {
    font-size: 2.0rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: center;*/
    /* align-items: center;  
     flex-wrap: wrap; */
    gap:2rem 
}

.services-container .project-card {
    flex:1 1 30rem;
    background: var(--second-bg-color);
    padding:3rem 2rem 4rem ;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .project-card:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}


.project-card i {
    font-size: 7rem;
    color: var(--main-color)
}

.project-card h3 {
    font-size: 2.6rem;
    padding: 10px 0px
}

.project-card p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.project-card img {
    width: 100%;
    border-radius: 12px;
}

.project-images{
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 40%;
padding-bottom: 3%;
}

.project-images div{
  width: 35%;
  
}



 
  .grid-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  /* Centers items horizontally */
    grid-gap: 20px; /* Adjust the gap between items */
    align-items: center;
    padding: 20px 20px;
  }

  /* Optional: Set a maximum width for each skills card */
  .skills-card {
    max-width: 150px; /* Adjust the max-width as needed */
    text-align: center; /* Centers the content within each card */
    padding-top: 20px;
   
  }
  
  .skills-card:hover {
    box-shadow: rgba(162, 176, 187, 0.407) 0px 5px 15px;
    transform: scale(1.02);
    border-color: var(--main-color);
  }

  /* Optional: Add some styling to the images within the skills card */
  .skills-card-img {
    width: 100%;
    height: auto;
  }



  /* Optional: Add some styling to the skills card names */
  .skills-card-name {
    font-weight: bold;
  }

  #skills h2 {
    margin-bottom: 2rem;
  }
  .skills-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .skills-container .skills-card-1 {
    flex: 1 1 30rem;
    background: var(--bg-oxford-blue);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--border-prussian-blue);
    transition: .5s ease;
  }
  .skills-container .skills-card-1:hover {
    border-color: var(--bg-carolina-blue);
    transform: scale(1.02);
  } 
  .skills-card-1 i {
    font-size: 7rem;
    color: var(--bg-carolina-blue);
  }
  .skills-card-1 h3 {
    font-size: 2.6rem;
  
  }
  .skills-card-1 p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
  }


  /* github stats section */

  #github-streak-stats {
    width: 450px;
  }

  #github-streak-card {
    width: 450px;
  }

  .contact {
    color: var(--bg-prussian-blue);
  }
  
  .contact h2 {
    margin-bottom: 3rem;
  }

  #contact-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }

  #contact-container > div{
   width:45%;
   padding-left:3%
  }
  
  .contact_me h2{
font-size: 3rem;
  }
  
  
  .contact-list-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .contact-item-icon {
    font-size: 25px;
    color: var(--color-primary);
  }
  
  .contact-item-icon ion-icon {
    --ionicon-stroke-width: 40px;
  }
  
  .contact-item-title {
    margin-bottom: 10px;
  }
  
  .contact-list-item .contact-info {
    color: var(--color-secondary);
    font-style: normal;
    line-height: 1.6;
    transition: var(--transition-1);
  }
  
  .contact-info:not(address):is(:hover, :focus) {
    color: var(--color-primary);
  }
  
  .contact-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-inline: 40px;
  }


  
  .contact-social-link {
    position: relative;
    background: var(--color-primary);
    color: var(--bg-primary);
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: var(--transition-1);
  }
  
  .contact-social-link:is(:hover, :focus) {
    background: var(--raw-seinna);
    color: var(--white);
  }
  
  .contact-social-link:is(:hover, :focus) .tooltip {
    transform: translateY(0);
    opacity: 1;
  }

.tooltip {
  position: absolute;
  top: -40px;
  background: var(--raw-seinna);
  min-width: max-content;
  color: var(--white);
  font-size: 15px;
  font-weight: var(--fw-700);
  padding: 5px 10px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

.h4 {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  line-height: 1.2;
  font-size: var(--fs-5);
}


.section-text {
  font-size: 2rem;
  
  margin: 30px 0px;
}


.contact-form {
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
}

.form-wrapper {
  margin-bottom: 25px;
}

.form-label {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--ff-poppins);
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper {
  position: relative;
}

.input-field {
  background: var(--input-bg);
  color: var(--raw-seinna);
  font-size: 1.5rem;
  padding: 10px;
  padding-left: 40px;
  border-radius: var(--radius-12);
  transition: var(--transition-1);
  width : 95%
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-secondary);
  font-size: 20px;
  transition: var(--transition-1);
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  width : 95%
}

.input-field:focus {
  outline: 1px solid;
}

.input-field:focus + ion-icon {
  color: var(--raw-seinna);
}

.btn btn-primary {
  
  width: 100%;
  background: var(--color-primary);
  color: var(--bg-primary);

}
/* Contact ends here */

.react-activity-calendar {
 
  /* //justify-content: center; */
  text-align: center;
  padding: 20px 10px;
 
}

.react-activity-calendar>div {
  padding:10px
}


/* 

//Responsive ness// */

@media screen and (max-width: 768px) and (min-width: 486px) {

/* Navbar Section */

#nav-menu {
  display: none;
}

#myTopnav {
  display: block;
}

  /* Home Section */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.home-img1 img {
  width:40vw
}
  /* About Section */

  .about.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    
}

.about-img img {
    width: 50vw;
}

.about-content  {
    font-size: 1.8rem;
    margin: 5%;
}
/* //Project Container// */
  .services-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:2rem ;
   
}

/* skill Container */
 .grid-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  /* Centers items horizontally */
    grid-gap: 20px; /* Adjust the gap between items */
    align-items: center;
    padding: 20px 20px;
     margin-left: 10%;
  }

  /* contact section */
  #contact-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     flex-direction: column-reverse;
     gap: 20px;
  }

  #contact-container > div{
   width:90%; 
  }
}

@media screen and  (max-width: 486px) {

  /* Navbar Section */

  #nav-menu {
    display: none;
  }

  #myTopnav {
    display: block;
  }

  /* Home Section */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.home-img1 img {
  width:45vw
}



 /* About Section */

  .about.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    margin-left: 5%;
}

.about-img img {
    width: 65vw;
}


.about-content  {
    font-size: 1.8rem;
    margin: 5%;
}
  /* project Container */

  .services-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:2rem 
}

/* Skill Container */
 .grid-list {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    padding: 20px 20px;
   margin-left: 100px;
  }

  /* Contact container */

  #contact-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     flex-direction: column-reverse;
     gap: 20px;
  }

  #contact-container > div{
   width:90%;
  }
}



/* Responsive navbar */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
 
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px)  {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}